<ion-view title="Accueil" id="page1">

  <ion-nav-buttons side="right" class="has-header">

    <div ng-controller="menuConnectionCtrl as vm" ng-switch="{{vm.isConnected}}">
      <button ng-switch-when="false"class="button icon No Icon" ng-click="vm.googlePlus()"> Connexion</button>
      <div ng-switch-when="true" style="height:100%">
        <ul id="menuList">
          <li>
            <a class="lienMenu" style="margin-bottom:0%;width:inherit;font-family:papyrus">{{vm.connected}} v</a>
            <ul id="menuList" style="width:inherit;">
              <li style="width:100%;"><a ui-sref="menu.profil()">Mon profil</a></li>
              <li style="width:100%;"><a ng-click="vm.logOut()">Deconnexion</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </ion-nav-buttons>



  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/PepSII.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>

    <div class="spacer" style="height: 30px;"></div>
    <form id="accueil-form1" class="list">
      <label class="item item-input" id="accueil-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <div class="spacer" style="height: 30px;"></div>
        <ul>
          <li ng-repeat="event in vm.listEvent">
            <ion-item class="item-thumbnail-left" id="accueil-list-item{{event.id}}" ng-click="vm.passEvent({{event}})" ui-sref="menu.detailsEvent()">
              <img src="data:image/png;base64,{{event.Image}}">
              <h2>{{event.Name}}</h2>
              <p style="white-space:normal;">{{event.Description}}</p>
              <p style="white-space:normal;">Le {{event.DateStart | date:'dd/MM/yyyy'}} à {{event.DateStart | date:'HH:mm'}}</p>
            </ion-item>
          </li>
        </ul>
          <a href="/#/side-menu21/page14" style="text-align:left;border-radius:5px 5px 5px 5px;" class="button button-positive">Participant</a>
    </form>
  </ion-content>
</ion-view>
