<ion-view title="Connexion" id="page14">
  <ion-content padding="true" class="has-header">
    <form id="crErUnVenement-form6" class="list">
      <div style="display:inline-block;width:100%">
        <div class="createEventLabel">Identifiant de connexion</div>
        <input id="connction" border-radiustype="text" placeholder="">
        <input value="Valider" type="submit" class="button button-positive  button-block" ng-click="connection()" />
        <!--<input value="Google" type="submit" class="button button-positive  button-block" ng-click="login()" />-->
      </div>
    </form>

    <p>Avant le bouton google</p>
      <div id="my-signin2" ></div>
    <p>Apres le bouton google</p>

  </ion-content>

<!--</ion-view>
<html lang="en">
<head>
  <meta name="google-signin-client_id" content="929890661942-49n2pcequcmns19fe1omff72tqcips1v.apps.googleusercontent.com">
</head>
  <body>
    <ion-view title="Connexion" id="page14">
      <ion-content padding="true" class="has-header">
        <p>Avant le bouton google</p>
        <div id="my-signin2" ></div>
        <p>Apres le bouton google</p>
      </ion-content>
    </ion-view>
  </body>
</html>-->
