<ion-view title="Connexion" id="page14">
  <ion-content padding="true" class="has-header">
    <form id="crErUnVenement-form6" class="list">
      <div style="display:inline-block;width:100%">
        <div class="createEventLabel">Identifiant de connexion</div>
        <input id="connction" border-radiustype="text" placeholder="">
        <input value="Valider" type="submit" class="button button-positive  button-block" ng-click="connection()" />
      </div>
    </form>

  </ion-content>

</ion-view>
