<ion-view title="Créer un évenement" id="page8">
  <ion-nav-buttons side="right" class="has-header">
  <menu>
  </menu>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="crErUnVenement-form6" class="list">
      <div style="display:inline-block;width:100%">
        <div class="createEventLabel">Nom de l'évènement<p style="color:red"> {{vm.erreurNom}}</p></div>
        <input id="nomEvenement" border-radiustype="text" placeholder="">
        <div class="createEventLabel">Description</div>
        <textarea id="description" style="width:100%;height:100px;background-color:aliceblue;" placeholder=""></textarea>
        <div class="createEventLabel">Date <p style="color:red"> {{vm.erreurDate}}</p></div>
        <datepicker style="height:auto;" date-min-limit="{{vm.minDate}}" date-format="yyyy-MM-dd" button-prev="<" button-next=">" class="ng-isolate-scope" date-set="true">
          <input id="selectedDate" ng-model="date" type="text" placeholder="Selectionnez une date" />
        </datepicker>
        <div class="createEventLabel">Horaire début<p style="color:red"> {{vm.erreurHoraireDebut}}</p></div>
        <input id="horaireDebut" border-radiustype="text" placeholder="00:00">
        <div class="createEventLabel">Horaire fin<p style="color:red"> {{vm.erreurHoraireFin}}</p></div>
        <input id="horaireFin" border-radiustype="text" placeholder="00:00">
        <div class="createEventLabel">Lieu <p style="color:red"> {{vm.erreurLieu}}</p></div>
        <input id="lieuName" border-radiustype="text" placeholder="" ng-value="vm.placename" ng-click="vm.selectPlaceId();">
        <input id="lieu" border-radiustype="text" placeholder="" ng-value="vm.placeid" type="hidden">
        <div class="createEventLabel">Image</div>
        <img id="{{vm.selectedImage.id}}" src="img/{{vm.selectedImage.name}}" ng-click="vm.openPopupSelectImage()" >
        <input type="hidden" id="image" value="{{vm.selectedImage.id}}">
        <ion-list radio-group [(ngModel)]="categorie">
        <div class="createEventLabel">Type d'évenement</div>
        <select id="type">
          <option ng-repeat="type in vm.eventTypes" value="{{type.EventTypeId}}">{{type.Type}}</option>
        </select>
        <input value="Valider" type="submit" class="button button-positive  button-block" ng-click="vm.saveEvent()" />
      </div>
    </form>
  </ion-content>
</ion-view>
