<ion-view title="{{TitleEvent}}" id="page13">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon No Icon"> Connection</button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h1 id="heading1" style="color:#000000;"></h1>
    <div>
      <img src="{{sourceImgEvent}}" style="display:block;width:40%;height:auto;">
    </div>
    <div id="footEnSalle-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{descriptionEvent}}</p>

      <p style="color:#000000;">Le {{dateStartEvent | date:'dd/MM/yyyy'}} à {{dateStartEvent | date:'HH:mm'}}</p>
    </div>
    <div id="footEnSalle-button-bar3" class="button-bar"></div>
    <button id="footEnSalle-button18" style="text-align:left;border-radius:5px 5px 5px 5px;" class="button button-positive">J'y vais</button>
    <div class="spacer" style="width: 300px; height: 6px;"></div>
    <div id="footEnSalle-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>8</strong> personnes y participent</p>
    </div>
    <!--<ion-list id="footEnSalle-list6">
      <ion-item class="item-avatar" id="footEnSalle-list-item12">
        <img src="img/pierreg.png">
        <h2>Pierre</h2>
        <p style="white-space:normal;">Venez au foot en salle les autres stagiaires!</p>
      </ion-item>
      <ion-item class="item-avatar" id="footEnSalle-list-item24">
        <img src="img/dodo.png">
        <h2>Dorian</h2>
        <p style="white-space:normal;">Non, je prefere aller faire les biceps à la salle!</p>
      </ion-item>
      <ion-item class="item-avatar" id="footEnSalle-list-item25">
        <img src="img/pierreg.png">
        <h2>Pierre</h2>
        <p>Allez, go venir!</p>
      </ion-item>
    </ion-list>-->
    <ion-list ng-repeat="comment in ListComment">
        <div ng-style="{'margin-left': getCommentMargin({{comment.ResponseTo}})}">
          <ion-item class="item-avatar">
            <img src="img/defaultUser.jpg">
            <h2>{{comment.PersonId}}</h2>
            <p>{{comment.Text}}</p>
            <p style="text-align:right;font-style:italic;">{{comment.DatePost | date:'dd/MM/yyyy HH:mm:ss'}}</p>
          </ion-item>
        </div>
    </ion-list>
  </ion-content>
</ion-view>
