<ion-view title="{{vm.event.Name}}" id="page13" cache-view="false">
  <ion-nav-buttons side="right" class="has-header">
  <menu>
  </menu>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h1 id="heading1" style="color:#000000;"></h1>
    <div>
      <img id="imageEvent" ng-click="vm.swipeOnImage()"src="img/{{vm.imageToDisplay}}" style="display:block;width:40%;height:auto;">
    </div>
    <div id="footEnSalle-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{vm.event.Description}}</p>

      <p style="color:#000000;">Le {{vm.formatDate(vm.event.DateStart) | date:'dd/MM/yyyy'}} à {{vm.formatDate(vm.event.DateStart) | date:'HH:mm'}}</p>
    </div>
    <div id="footEnSalle-button-bar3" class="button-bar"></div>
    <div ng-if="vm.event.Owner.PersonId == vm.connectedUser">
      <button style="text-align:left;border-radius:5px 5px 5px 5px;" class="button button-positive" ng-click="vm.cancelEvent()">Annuler l'évènement</button>
    </div>

    <div id="beforeRate" ng-switch on="vm.isLogged">
      <div ng-switch-when="true" ng-switch on="vm.isRegister">
        <div ng-switch-when="false">
          <button style="text-align:left;border-radius:5px 5px 5px 5px;" class="button button-positive" ng-click="vm.registerUserToEvent()">J'y vais</button>
        </div>
        <div ng-switch-when="true">
          <button ng-if="vm.dateOfDay < vm.event.DateStart" style="text-align:left;border-radius:5px 5px 5px 5px;" class="button button-positive" ng-click="vm.unregisterUserToEvent()">J'y vais plus</button>
          <button ng-if="vm.dateOfDay > vm.event.DateStart" style="text-align:left;border-radius:5px 5px 5px 5px;" class="button button-positive" ng-click="vm.displayRateForm()">Noter l'évènement</button>
        </div>
      </div>

      <div class="spacer" style="width: 300px; height: 6px;"></div>
      <div id="footEnSalle-markdown2" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>{{vm.nbParticipants}}</strong> personnes y participent
        <button ng-click="vm.detailsParticipant()" id="detailParticipant" style="text-align:left;border-radius:5px 5px 5px 5px;" class="button button-positive">Participant</button>
        <div id="participantDiv" style="display:none;">
          <ion-list ng-repeat="participant in vm.ListParticipant">
            <ion-item class="item-avatar">
              <img ng-init="vm.getGoogleImage(participant.PersonEmail)" ng-src="{{vm.images[participant.PersonEmail]}}">
              <h2>{{participant.Pseudo}}</h2>
            </ion-item>
          </ion-list>
        </div>
      </p>

      <button  ng-if="vm.isLogged == 'true'" ng-click="vm.openPopup('NULL')" style="text-align:left;border-radius:5px 5px 5px 5px;" class="button button-positive">Commenter</button>

      </div>
      <ion-list ng-repeat="comment in vm.ListComment">
          <div ng-style="{'margin-left': vm.getCommentMargin({{comment.ResponseTo}})}" ng-click="vm.showResponse(vm.event.EventId, {{comment.CommentId}}, $event)">
            <ion-item class="item-avatar">
              <img ng-init="vm.getGoogleImage(comment.Person.PersonEmail)" ng-src="{{vm.images[comment.Person.PersonEmail]}}">
              <button  ng-if="vm.isLogged == 'true'" ng-click="vm.openPopup({{comment.CommentId}}, $event)" style="text-align:left;border-radius:5px 5px 5px 5px;float:right;min-height:43px;height:43px;" class="button button-positive">Répondre</button>
              <h2>{{comment.Person.Pseudo}}</h2>
              <p style="overflow:initial;white-space:initial;">{{comment.Text}}</p>
              <div style="display:flex;">
                <p style="width:50%;color:blue;">{{comment.NbResponses}} réponse(s)</p>
                <p style="text-align:right;font-style:italic;padding-right:1%;width:50%;">{{comment.DatePost | date:'dd/MM/yyyy HH:mm'}}</p>
              </div>
            </ion-item>
          </div>
          <ion-list ng-repeat="commentResponse in vm.ListCommentResponse[comment.CommentId]">
            <div style="margin-left:5%;">
              <ion-item class="item-avatar">
                <img ng-init="vm.getGoogleImage(commentResponse.Person.PersonEmail)" ng-src="{{vm.images[commentResponse.Person.PersonEmail]}}">
                <h2>{{commentResponse.Person.Pseudo}}</h2>
                <p style="overflow:initial;white-space:initial;">{{commentResponse.Text}}</p>
                <p style="text-align:right;font-style:italic;padding-right:1%;">{{commentResponse.DatePost | date:'dd/MM/yyyy HH:mm'}}</p>
              </ion-item>
            </div>
          </ion-list>
      </ion-list>
    </div>
    <div id="ratingForm" style="display:none">
        <label>Note: <input id="note"></label>
        <p>Laisser un commentaire:</p>
        <textarea id="comment" style="width:85%;height:50%;background-color:aliceblue;" placeholder=""></textarea>
        <button style="text-align:left;border-radius:5px 5px 5px 5px;" class="button button-positive" ng-click="vm.noteEvent()">Envoyer</button>
        <button style="text-align:left;border-radius:5px 5px 5px 5px;" class="button button-positive" ng-click="vm.hideRateForm()">Retour</button>
    </div>
  </ion-content>
</ion-view>
