<ion-view title="{{TitleEvent}}" id="page13" cache-view="false">
  <ion-nav-buttons side="right" class="has-header">
    <div ng-controller="menuConnnectionCtrl as vm" ng-switch="{{vm.isConnected}}">
      <button ng-switch-when="false"class="button icon No Icon" ng-click="vm.googlePlus()"> Connexion</button>
      <div ng-switch-when="true" style="height:100%">
        <ul id="menuList">
          <li>
            <a class="lienMenu" style="margin-bottom:0%;width:inherit;">{{vm.connected}} v</a>
            <ul id="menuList" style="width:inherit;">
              <li style="width:100%;"><a ui-sref="menu.profil()">Mon profil</a></li>
              <li style="width:100%;"><a ng-click="vm.logOut()">Deconnexion</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h1 id="heading1" style="color:#000000;"></h1>
    <div>
      <img id="imageEvent" src="data:image/png;base64,{{vm.sourceImgEvent}}" style="display:block;width:40%;height:auto;">
    </div>
    <div id="footEnSalle-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">{{vm.descriptionEvent}}</p>

      <p style="color:#000000;">Le {{vm.dateStartEvent | date:'dd/MM/yyyy'}} à {{vm.dateStartEvent | date:'HH:mm'}}</p>
    </div>
    <div id="footEnSalle-button-bar3" class="button-bar"></div>
    <div ng-if="vm.owner == vm.connectedUser">
      <button style="text-align:left;border-radius:5px 5px 5px 5px;" class="button button-positive" ng-click="vm.cancelEvent()">Annuler l'évènement</button>
    </div>
    <div ng-switch on="vm.isRegister">
      <div ng-switch-when="false">
        <button style="text-align:left;border-radius:5px 5px 5px 5px;" class="button button-positive" ng-click="vm.registerUserToEvent()">J'y vais</button>
      </div>
      <div ng-switch-when="true">
        <button ng-if="vm.dateOfDay < vm.dateStartEvent" style="text-align:left;border-radius:5px 5px 5px 5px;" class="button button-positive" ng-click="vm.unregisterUserToEvent()">J'y vais plus</button>
        <button ng-if="vm.dateOfDay > vm.dateStartEvent" style="text-align:left;border-radius:5px 5px 5px 5px;" class="button button-positive" ui-sref="menu.noteEvent">Noter l'évènement</button>
      </div>
    </div>

    <div class="spacer" style="width: 300px; height: 6px;"></div>
    <div id="footEnSalle-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>{{vm.nbParticipants}}</strong> personnes y participent
      <button ng-click="vm.detailsParticipant()" id="detailParticipant" style="text-align:left;border-radius:5px 5px 5px 5px;" class="button button-positive">Participant</button>
      <div id="participantDiv" style="display:none;">
        <ion-list ng-repeat="participant in vm.ListParticipant">
          <ion-item class="item-avatar">
            <img src="img/defaultUser.jpg">
            <h2>{{participant.Pseudo}}</h2>
          </ion-item>
        </ion-list>
      </div>
    </p>
    </div>
    <ion-list ng-repeat="comment in vm.ListComment">
        <div ng-style="{'margin-left': vm.getCommentMargin({{comment.ResponseTo}})}">
          <ion-item class="item-avatar">
            <img src="img/defaultUser.jpg">
            <h2>{{comment.Person.Pseudo}}</h2>
            <p>{{comment.Text}}</p>
            <p style="text-align:right;font-style:italic;padding-right:1%;">{{comment.DatePost | date:'dd/MM/yyyy HH:mm:ss'}}</p>
          </ion-item>
        </div>
    </ion-list>
  </ion-content>
</ion-view>
