<ion-view title="Inscription" id="page15">
  <ion-content padding="true" class="has-header">
    <form id="inscription" class="list">
      <div style="display:inline-block;width:100%">
        <p>Pseudo</p>
        <input id="pseudo" border-radiustype="text" placeholder="">
        <br/>
        <p>Job</p>
        <input id="job" border-radiustype="text" placeholder="">
        <input value="Valider" type="submit" class="button button-positive  button-block" ng-click="vm.inscription()" />
      </div>
    </form>
  </ion-content>
</ion-view>
