  <div ng-controller="menuConnectionCtrl as vm" ng-switch="{{vm.isConnected}}">
    <button ng-switch-when="false" class="button buttonGoogle" ng-click="vm.googlePlus()" ng-show="!vm.loading"> G+ Login with Google</button>
    <div  ng-show="vm.loading"><p>Connexion en cours...</p></div>
    <div ng-switch-when="true" style="height:100%">
      <ul id="menuList">
        <li>
          <a style="min-width:150px !important">{{vm.connected}}</a>
          <ul id="menuList" style="width:inherit;">
            <li><a ui-sref="menu.profil()">Profil</a></li>
            <li><a ng-click="vm.logOut()">Deconnexion</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
