  <div ng-controller="menuConnectionCtrl as vm" ng-switch="{{vm.isConnected}}">
    <button ion-button block color="danger" ng-click="vm.googlePlus()" ng-switch-when="false"> <ion-icon name="logo-googleplus"></ion-icon> Login with Google</button>
    <div ng-switch-when="true" style="height:100%">
      <ul id="menuList">
        <li>
          <a class="lienMenu" style="margin-bottom:0%;width:inherit;">{{vm.connected}} v</a>
          <ul id="menuList" style="width:inherit;">
            <li style="width:100%;"><a ui-sref="menu.profil()">Mon profil</a></li>
            <li style="width:100%;"><a ng-click="vm.logOut()">Deconnexion</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
