<ion-view title="Mes évenements" id="page7" cache-view="false">
  <ion-nav-buttons side="right" class="has-header">
    <div ng-controller="menuConnnectionCtrl" ng-switch="{{isConnected}}">
      <button ng-switch-when="false"class="button icon No Icon" ng-click="googlePlus()"> Connexion</button>
      <div ng-switch-when="true" style="height:100%">
        <ul id="menuList">
          <li>
            <a class="lienMenu" style="margin-bottom:0%;width:inherit;">{{connected}} v</a>
            <ul id="menuList" style="width:inherit;">
              <li style="width:100%;"><a ui-sref="menu.profil()">Mon profil</a></li>
              <li style="width:100%;"><a ng-click="logOut()">Deconnexion</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 300px; height: 19px;"></div>
    <a ui-sref="menu.crErUnVenement" id="mesVenements-button24" class="button button-positive  button-block">Creer un évenement</a>
    <div id="mesVenements-container5">
      <a ui-sref="menu.evaluerEvenement" id="mesVenements-button8" class="button button-positive  button-block">Evaluer un évenement</a>
      <div class="spacer" style="height: 32px;"></div>
      <div style="width:100%; display:inline-flex; position:relative">
        <h2>Mes évènements</h2>
        <label style="height:50%;bottom:0;position:absolute;margin-left:20%;">Uniquement ce que j'ai créé: <input id="checkboxMyEvent" type="checkbox" ng-click="vm.myEventCheck()"></label>
      </div>
      <ul>
        <div style="position:relative; height:50px">
          <h3 id="nextEvents" class="myEventsMenu" style="height: 50px;" ng-click="vm.select('nextEvents')">A venir</h3>
          <h3 id="pastEvents" class="myEventsMenu" style="margin-left:35%" ng-click="vm.select('pastEvents')">Passé</h3>
        </div>
        <li ng-repeat="event in vm.listToDisplay">
          <ion-item class="item-thumbnail-left" id="accueil-list-item{{event.id}}" ng-click="vm.passEvent({{event}})" ui-sref="menu.detailsEvent()">
            <img src="data:image/png;base64,{{event.Image}}">
            <h2>{{event.Name}}</h2>
            <div style="display:inline-block; width:45%;">
              <p style="white-space:normal;">{{event.Description}}</p>
              <p style="white-space:normal;">Le {{event.DateStart | date:'dd/MM/yyyy'}} à {{event.DateStart | date:'HH:mm'}}</p>
              <p>{{event.Owner.PersonId}} // {{vm.owner}}</p>
            </div>
            <div ng-if="event.Owner.PersonId == vm.owner" style="display:inline-block; width:45%;">
              <p>C'est à moi ça</p>
            </div>
          </ion-item>
        </li>
      </ul>
  </ion-content>
</ion-view>
