<ion-view title="{{vm.event.Name}}" id="page16">
  <ion-nav-buttons side="right" class="has-header">
  <menu>
  </menu>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">

    <div>
      <img id="imageEvent" src="data:image/png;base64,{{vm.event.Image}}" style="display:block;width:40%;height:auto;">
      <p>{{vm.event.Description}}</p>
      <label>Note: <input id="note"></label>
      <p>Laisser un commentaire:</p>
      <textarea id="comment" style="width:85%;height:50%;background-color:aliceblue;" placeholder=""></textarea>
      <button style="text-align:left;border-radius:5px 5px 5px 5px;" class="button button-positive" ng-click="vm.noteEvent()">Envoyer</button>
    </div>
  </ion-content>
</ion-view>
