<ion-view title="Recherche" id="page2">
  <ion-nav-buttons side="right" class="has-header">
  <menu>
  </menu>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="recherche-form2" class="list">
      <label class="item item-input" id="recherche-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input ng-keyup="vm.submit($event)" id="search" type="search" placeholder="Recherche...">
      </label>
    </form>
    <div style="width:100%; display:inline-flex;margin-bottom:1%;">
      <span ng-repeat="type in vm.listTypes" style="margin-right:1%;">
          <ion-label>{{type.Type}}</ion-label>
          <ion-checkbox style="border:none;" id="{{type.Type}}" ng-model="vm.types[type.EventTypeId]" ng-change="vm.filterEvents()" ng-checked="true"></ion-checkbox>
      </span>
    </div>
    <div style="text-align:center;">
      <button style="text-align:left;border-radius:5px 5px 5px 5px;" class="button button-positive" ng-click="vm.showAllEvents()">Tous les évènements</button>
    </div>
    <div  ng-show="vm.loading"><p>Connexion en cours...</p></div>
    <p id="noResultFound" style="display:none">Aucun résultat ne correspond à votre recherche</p>
    <ul>
      <li ng-repeat="event in vm.listEventsToDisplay">
          <ion-item class="ribbon" ng-class="vm.getRibbon(event.EventType.Type)" id="accueil-list-item{{event.id}}" ng-click="vm.passEvent({{event}})" ui-sref="menu.detailsEvent()">
            <span>{{event.EventType.Type}}</span>
            <div style="display:flex; height:110px;">
              <div style="margin-right:3%;height:100%;width:auto;">
                <img style="height:100px;width:100px;" src="img/event{{event.Image}}.jpg">
              </div>
              <div style="height:100%;width:65%;">
                <h2>{{event.Name}}</h2><br/>
                <p style="white-space:nowrap;font-size:75%;overflow:hidden;">{{event.Description}}</p><br/>
                <p style="white-space:normal;font-size:75%;">Le {{vm.formatDate(event.DateStart) | date : 'dd/MM/yyyy'}} à {{vm.formatDate(event.DateStart) | date:'HH:mm'}}</p>
              </div>
            </div>
          </ion-item>
      </li>
    </ul>
  </ion-content>
</ion-view>
