<ion-view title="Suggestion" id="page9">
  <ion-nav-buttons side="right" class="has-header">
  <menu>
  </menu>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="suggestion-form9" class="list">
      <label class="item item-input" id="suggestion-textarea1">
        <span class="input-label">Suggestions</span><textarea placeholder="" id ="text"></textarea></label>
    </form>
    <a id="suggestion-button26" class="button button-positive  button-block" ng-click="vm.saveSuggestion()">Valider</a>
  </ion-content>
</ion-view>
